* {
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  background: linear-gradient(rgb(189, 228, 235, 0.5), rgb(0, 138, 163, 0.5));
}

#hero-banner {
  height: 96vh;
  background-image: linear-gradient(rgb(0, 138, 163), rgb(152, 224, 236));
  background-image: url("Alico.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #cccccc;
  margin-bottom: 5%;
  border: solid 1px;
  text-align: center;
  width: 100%;
}

#navbar {
  display: flex;
  color: white;
  opacity: transparent;

  width: 100%;
  margin: 0px;
  font-size: 0.95em;
  padding: 0px;
}

.nav-item {
  flex-flow: row;
  text-decoration: none;
  list-style-type: none;
  width: auto;
  padding: 5px;
  text-align: left;
}

.nav-item:hover {
  cursor: pointer;
  font-weight: 900;
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#banner-text {
  color: white;
  text-align: center;
  padding-top: 1em;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 62px;
}

h3 {
  font-family: "Roboto", cursive;
  font-size: 48px;
  padding: 10px;
}

p {
  font-family: "Roboto", sans-serif;
  padding: 15px;
}

.section {
  background-color: white;
  background: linear-gradient(rgb(0, 138, 163), rgb(189, 228, 235));
  margin: 0px 30px 30px 15px;
  border: solid rgb(97, 96, 96) 1px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: auto;
}

@media screen and (min-width: 500px) {
  .nav-item {
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .section {
    width: 20%;
    margin: 30px;
  }
}
